.MySider {
  /* overflow: hidden !important; */
  overflow: auto !important;
  height: 100vh !important;
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  z-index: 10 !important;
}

.SiteInfo {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  /* position: relative; */
  /* display: flex; */
  /* align-items: center; */
  /* padding: 16px 8px; */
  /* line-height: 32px; */
  /* height: 32px; */
  /* background: rgba(255, 255, 255, 0.2); */
  /* margin: 16px; */
}

.SiteLogo {
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  display: inline-block;
  /* transition: height .2s; */
  /* color: #001529; */
}

.SiteTitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  /* margin: 0 0 0 12px; */
  /* animation: fade-in; */
  /* animation-duration: .2s; */
  /* overflow: hidden; */
}
